*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

.section {
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 50px 0;
    padding: 30px 50px;
}

.card > h1 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.card > .person {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.card > .person > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.person > div > h4 {
    font-size: 20px;
    letter-spacing: 1px;
}

.person > div > p {
    color: rgb(54, 54, 54);
}

.card > button {
    background-color: transparent;
    font-size: 15px;
    padding: 5px 20px;
    align-self: center;
    text-transform: capitalize;
    border: 1px solid black;
    margin-top: 20px;
}

.card > button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
